* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-card: #E1E1E6;

  --tx-timer: #323238;

  --bg-body: #FFFFFF;

  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  background-color: var(--bg-body);

}

.timer {
  display: flex;
  width: 32.1rem;
}

.timer p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12.7rem;
  line-height: 14.8rem;

  text-align: center;

  color: var(--tx-timer);

  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 31.2rem;
}

.options svg {
  cursor: pointer;
}

.card {
  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--bg-card);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 2.4rem;
  
  cursor: pointer;
}

.container-card {
  display: grid;
  grid-template-areas: "A B"
  "C D";
  gap: 3.2rem;
}

.song {
  position: relative;

  display: flex;
  align-items: center;
  width: 9rem;
}

.bar {
  width: 9rem;
  height: .4rem;

  background: #323238;
  border-radius: 5px;
}

.ball {
  width: 1.6rem;
  height: 1.6rem;

  background: #323238;
  border-radius: 99rem;
  position: absolute;
  left: 37px;
}

.selected {
  background-color: #02799D;
}

.container-card .secected-dark-mode {
  background-color: #0A3442
}

.selected svg path {
  fill: white;
}

.container-dark-mode {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
}

.dark-mode {
  cursor: pointer;
}

.dark-mode-timer p {
  color: white
}

.dark-mode-timer svg path {
  fill: white;
}

.dark-mode-card {
  background: #29292E;
}

.dark-mode-card svg path {
  fill: #C4C4CC;
}

.dark-mode-card .song .bar,
.dark-mode-card .song .ball {
  background-color: white;
}

.light-mode {
  cursor: pointer;
}

.hide {
  display: none;
}
